.cabecalho {
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

/*Incluindo a imagem do hamburguer*/
.cabecalho__menu-hamburguer {
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.cabecalho__container-imagem {
    padding: 1em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw; /*A medida vw é view port width. Então aqui, falamos de largura. 60 é 60% do tamanho.  Quando usamos vh é de alutura.*/
}


/*checked é uma pseudo classe para uma ação quando o botão está selecionado.
 O seletor ~ procura o proximo elemento com a classe indicado. No caso, é a classe .lista__menu*/
.container__botao:checked ~ .lista__menu {
    display: block;
}

.lista__menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista__menu__titulo, 
.lista__menu__item {
    background-color: var(--branco);
    padding: 1em;
}

.lista__menu-link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    text-transform: uppercase;
}