.topicos {
    background: var(--azul-degrade);
    text-align: center;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    padding: 1em 0;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap; /*Faz com que quando chegue no final da linha, ele quebre. Ao invés de tentar socar tudo na mesma linha*/
    justify-content: center;
}

.topicos__lista-item {
    margin: 2em 0.5em;
}

.topicos__lista-link {
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
    padding: 1em;
    text-decoration: none;    
}